# Display of all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [129]:
import requests
from bs4 import BeautifulSoup
wiki_html = requests.get("https://en.wikipedia.org/wiki/Main_Page")
bs = BeautifulSoup(wiki_html.content)
header_tags = bs.find_all(['h1','h2','h3'])
header_tags

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>,
 <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>,
 <h3 class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

# Display of IMDB’s Top rated 100 movies

In [130]:
from urllib.request import urlopen
imdb_html = requests.get(' https://www.imdb.com/chart/top/')
imdb_html

In [131]:
bs_imdb = BeautifulSoup(imdb_html.content,'html.parser')

In [132]:
movie_name = bs_imdb.find_all('td',class_="titleColumn")
movie_names_list = []
for i in movie_name:
    for j in i.find_all('a'):
        movie_names_list.append(j.get_text('a'))
movie_list = movie_names_list[:100]

In [133]:
movie_year = bs_imdb.find_all('td',class_="titleColumn")
movie_year_list = []
for i in movie_year:
    for j in i.find('span',class_="secondaryInfo"):
        movie_year_list.append(j.replace("(",'').replace(")",''))
movie_year_lists = movie_year_list[:100]

In [134]:
movie_rating = bs_imdb.find_all('td',class_="ratingColumn imdbRating")
movie_rating_list = []
for i in movie_rating:
    for j in i.find_all('strong'):
        movie_rating_list.append(j.get_text('strong'))
movie_ratings_lists = movie_rating_list[:100]

In [135]:
import pandas as pd
Top100_movie_ratinglist = pd.DataFrame({})
Top100_movie_ratinglist['movie_name'] = movie_list
Top100_movie_ratinglist['movie_year'] = movie_year_lists
Top100_movie_ratinglist['movie_rating'] = movie_ratings_lists

In [136]:
Top100_movie_ratinglist

                               movie_name movie_year movie_rating
0                The Shawshank Redemption       1994          9.2
1                           The Godfather       1972          9.1
2                  The Godfather: Part II       1974          9.0
3                         The Dark Knight       2008          9.0
4                            12 Angry Men       1957          8.9
..                                    ...        ...          ...
95                                 Jagten       2012          8.3
96                    Singin' in the Rain       1952          8.3
97                     North by Northwest       1959          8.3
98                           Idi i smotri       1985          8.3
99  Eternal Sunshine of the Spotless Mind       2004          8.3

[100 rows x 3 columns]

# Display of IMDB’s Top rated Indian 100 movies

In [137]:
imdb_html = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
imdb_html

In [138]:
bs_imdb = BeautifulSoup(imdb_html.content,'html.parser')

In [139]:
movie_name = bs_imdb.find_all('td',class_="titleColumn")
movie_names_list = []
for i in movie_name:
    for j in i.find_all('a'):
        movie_names_list.append(j.get_text('a'))
movie_list = movie_names_list[:100]

In [140]:
movie_year = bs_imdb.find_all('td',class_="titleColumn")
movie_year_list = []
for i in movie_year:
    for j in i.find('span',class_="secondaryInfo"):
        movie_year_list.append(j.replace("(",'').replace(")",''))
movie_year_lists = movie_year_list[:100]

In [141]:
movie_rating = bs_imdb.find_all('td',class_="ratingColumn imdbRating")
movie_rating_list = []
for i in movie_rating:
    for j in i.find_all('strong'):
        movie_rating_list.append(j.get_text('strong'))
movie_ratings_lists = movie_rating_list[:100]

In [142]:
import pandas as pd
Top100_Indian_movie_ratinglist = pd.DataFrame({})
Top100_Indian_movie_ratinglist['movie_name'] = movie_list
Top100_Indian_movie_ratinglist['movie_year'] = movie_year_lists
Top100_Indian_movie_ratinglist['movie_rating'] = movie_ratings_lists

In [143]:
Top100_Indian_movie_ratinglist

                  movie_name movie_year movie_rating
0            Pather Panchali       1955          8.5
1                    Nayakan       1987          8.5
2          Pariyerum Perumal       2018          8.5
3                 Anbe Sivam       2003          8.5
4                    Golmaal       1979          8.5
..                       ...        ...          ...
95                Chhichhore       2019          8.1
96  Uri: The Surgical Strike       2018          8.1
97                        PK       2014          8.1
98                 Virumandi       2004          8.1
99                     Lucia       2013          8.1

[100 rows x 3 columns]

# Dispaly of 5 books data from www.bookpage.com

In [144]:
bookpage_html = requests.get('https://bookpage.com/reviews')
bookpage_html

In [145]:
bs_bookpage = BeautifulSoup(bookpage_html.content,'html.parser')

In [146]:
book_name = bs_bookpage.find_all('h4',class_="italic")
book_names_list = []
for i in book_name:
    for j in i.find_all('a'):
        book_names_list.append(j.get_text('a').replace('a★ a','').strip())
book_list = book_names_list[:5]

In [147]:
book_author = bs_bookpage.find_all('p',class_="sans bold")
book_author_list = []
for i in book_author:
    book_author_list.append(i.get_text('p').replace('\n',''))
book_author_lists = book_author_list[:5]
book_author_lists

["Beth O'Leary",
 'Curtis Manley, Lucy Ruth Cummins',
 'Casey McQuiston',
 'Kristen Arnett',
 'T. L. Huchu']

In [148]:
book_genre = bs_bookpage.find_all('p',class_="genre-links hidden-phone")
book_genre_list=[]
for i in book_genre:
    book_genre_list.append(i.get_text('a').replace("\na",'').replace('a\n',''))
book_genre_lists = book_genre_list[:5]

In [149]:
book_review = bs_bookpage.find_all('p',class_="excerpt")
book_review_list=[]
for i in book_review:
    book_review_list.append(i.get_text().replace('\n',''))
book_review_lists = book_review_list[:5]

In [150]:
import pandas as pd
bookpage = pd.DataFrame({})
bookpage['book_name'] = book_list
bookpage['book_author'] = book_author_lists
bookpage['book_genre'] = book_genre_lists
bookpage['book_review'] = book_review_lists
bookpage

,book_name,book_author,book_genre,book_review
0,The Road Trip,Beth O'Leary,Romance / Contemporary Romance,"In Beth O’Leary’s The Road Trip, the path to h..."
1,The Rescuer of Tiny Creatures,"Curtis Manley, Lucy Ruth Cummins",Children's / Children's Picture Book,"Red-haired, inquisitive Roberta is a budding e..."
2,One Last Stop,Casey McQuiston,Romance / Contemporary Romance,"After her blockbuster debut novel, Red, White ..."
3,With Teeth,Kristen Arnett,Fiction / Family Drama,Kristen Arnett shows her range with laugh-out-...
4,The Library of the Dead,T. L. Huchu,Science Fiction & Fantasy / Fantasy,T.L. Huchu’s first installment of the Edinburg...

# Display Top 10 ODI Team ranking from www.icc-cricket.com

In [151]:
cricket_html_men = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
cricket_html_men

In [152]:
cricket_html_women = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
cricket_html_women

In [153]:
bs_cricket_men = BeautifulSoup(cricket_html_men.content,'html.parser')
bs_cricket_women = BeautifulSoup(cricket_html_women.content,'html.parser')

In [154]:
def Cricket_stats(html):
    
# team - country


    country_name = html.find_all('span',class_="u-hide-phablet")
    country_names_list = []
    for i in country_name:
        country_names_list.append(i.get_text())
    country_list = country_names_list[:10]
    
# team- matches    

    team_matches = html.find_all('td',class_=["rankings-block__banner--matches" , "table-body__cell u-center-text"])
    team_matches_list = []
    k=0
    j = ""
    for i in team_matches:
        k = k+1
        if(k==0):
            pass
        else:
            if(i.parent.get_text() == j):
                pass
            else:
                team_matches_list.append(i.get_text())
            j =i.parent.get_text()
    matches_played = team_matches_list[:10]

# team - points

    team_point = html.find_all('td',class_=["rankings-block__banner--points" , "table-body__cell u-center-text"])
    team_points_list = []
    l = 0
    m = ""
    for i in team_point:
        l = l+1
        if(l==1):
            team_points_list.append(i.get_text())
        else:
            if(i.parent.get_text() ==m):
                team_points_list.append(i.get_text())
            else:
                pass
            m = i.parent.get_text()       
    team_points = team_points_list[:10]
    
# team - rating

    team_rating = html.find_all('td',class_=["rankings-block__banner--rating u-text-right" , "table-body__cell u-text-right rating"])
    team_ratings_list = []
    for i in team_rating:
        team_ratings_list.append(i.get_text().replace('\n','').strip())
    team_ratings = team_ratings_list[:10]
    
    team_rating = pd.DataFrame({})
    team_rating['Country_name'] = country_list
    team_rating['matches_played'] = matches_played
    team_rating['points'] =  team_points
    team_rating['rating'] = team_ratings
    print(team_rating)

print( 'Top 10 ODI Teams in Men Cricket\n\n')
Cricket_stats(bs_cricket_men)
print('\n\n','Top 10 ODI Teams in Women Cricket')
Cricket_stats(bs_cricket_women)

Top 10 ODI Teams in Men Cricket


   Country_name matches_played points rating
0   New Zealand             17  2,054    121
1     Australia             25  2,945    118
2         India             29  3,344    115
3       England             27  3,100    115
4  South Africa             20  2,137    107
5      Pakistan             24  2,323     97
6    Bangladesh             27  2,438     90
7   West Indies             27  2,222     82
8     Sri Lanka             24  1,876     78
9   Afghanistan             17  1,054     62


 Top 10 ODI Teams in Women Cricket
   Country_name matches_played points rating
0     Australia             18  2,955    164
1  South Africa             24  2,828    118
2       England             17  1,993    117
3         India             20  2,226    111
4   New Zealand             21  1,947     93
5   West Indies             12  1,025     85
6      Pakistan             15  1,101     73
7    Bangladesh              5    306     61
8     Sri Lanka             11    519     47
9       Ireland              2     25     13

# Display Top 10 ODI Batsmen & Bowler Rankings from www.icc-cricket.com

In [155]:
player_html_men = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
player_html_men

In [156]:
player_html_women = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
player_html_women

In [157]:
bs_player_men = BeautifulSoup(player_html_men.content,'html.parser')
bs_player_women = BeautifulSoup(player_html_women.content,'html.parser')

In [158]:
def Player_stats(player_gender,ranking_area):
    html = BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/'+player_gender+'s/player-rankings/odi/'+ranking_area).content,'html.parser')
    
# player- name    

    player_names = html.find_all(['div','td'],class_=["rankings-block__banner--name-large" , "table-body__cell rankings-table__name name"])
    player_names_list = []
    k=0
    j = ""
    for i in player_names:
            player_names_list.append(i.get_text().replace('\n',''))
    player_name = player_names_list[:10]


# player - rating

    player_ratings = html.find_all(['div','td'],class_=["rankings-block__banner--rating" , "table-body__cell rating"])
    player_ratings_list = []
    k=0
    j = ""
    for i in player_ratings:
            player_ratings_list.append(i.get_text())
    player_rating = player_ratings_list[:10]

# player - nationality
    player_nationalities = html.find_all(['div','span'],class_=["rankings-block__banner--nationality" , "table-body__logo-text"])
    player_nationalities_list = []
    k=0
    j = ""
    for i in player_nationalities:
        k = k+1
        if(k==1):
            x = (''.join(i.findAll(text = True , recursive = False))).replace('\n','')
            player_nationalities_list.append(x)
        else:
            player_nationalities_list.append(i.get_text().replace('\n','').strip())
    player_nationality = player_nationalities_list[:10]
    
    
    player_stats = pd.DataFrame({})
    player_stats['Player_name'] = player_name
    player_stats['Country_name'] = player_nationality
    player_stats['Player_rating'] =  player_rating
    
    print('\n\nTop 10 ODI '+ ranking_area +' Rankings in '+player_gender+'s Cricket\n\n')
    print(player_stats)

Player_stats('men','batting')
Player_stats('women','batting')
Player_stats('men','bowling')
Player_stats('women','bowling')

Top 10 ODI batting Rankings in mens Cricket


           Player_name Country_name Player_rating
0           Babar Azam          PAK           865
1          Virat Kohli          IND           857
2         Rohit Sharma          IND           825
3          Ross Taylor           NZ           801
4          Aaron Finch          AUS           791
5       Jonny Bairstow          ENG           785
6         Fakhar Zaman          PAK           778
7  Francois du Plessis           SA           778
8         David Warner          AUS           773
9            Shai Hope           WI           773


Top 10 ODI batting Rankings in womens Cricket


         Player_name Country_name Player_rating
0     Tammy Beaumont          ENG           765
1        Lizelle Lee           SA           758
2       Alyssa Healy          AUS           756
3    Stafanie Taylor           WI           746
4        Meg Lanning          AUS           723
5  Amy Satterthwaite           NZ           715
6    Smriti Mandhana          IND           710
7        Mithali Raj          IND           709
8     Natalie Sciver          ENG           685
9    Laura Wolvaardt           SA           683


Top 10 ODI bowling Rankings in mens Cricket


         Player_name Country_name Player_rating
0        Trent Boult           NZ           737
1       Mehedi Hasan          BAN           725
2   Mujeeb Ur Rahman          AFG           708
3         Matt Henry           NZ           691
4     Jasprit Bumrah          IND           690
5      Kagiso Rabada           SA           666
6       Chris Woakes          ENG           665
7     Josh Hazlewood          AUS           660
8  Mustafizur Rahman          BAN           652
9        Pat Cummins          AUS           646


Top 10 ODI bowling Rankings in womens Cricket


       Player_name Country_name Player_rating
0    Jess Jonassen          AUS           808
1     Megan Schutt          AUS           762
2   Marizanne Kapp           SA           747
3   Shabnim Ismail           SA           717
4   Jhulan Goswami          IND           681
5  Katherine Brunt          ENG           655
6     Poonam Yadav          IND           641
7   Ayabonga Khaka           SA           638
8     Ellyse Perry          AUS           616
9    Shikha Pandey          IND           610

# Details of Mobile Phones under Rs.20000 from amazon.in

In [159]:
url = 'https://www.amazon.in/s?k=mobiles&rh=p_36%3A-2000000&qid=1622545203&rnid=1318502031&ref=sr_pg_1'
all_urls = []

mobile_amazon_url = requests.get('https://www.amazon.in/s?k=mobiles&page=14&qid=1622478156&ref=sr_pg_13')
status = True
while status:
    if (mobile_amazon_url.status_code != 200):
        mobile_amazon_url = requests.get('https://www.amazon.in/s?k=mobiles&page=14&qid=1622478156&ref=sr_pg_13')
    else:
        status = False
        print(mobile_amazon_url)

<Response [200]>

In [160]:
def getdata(url):
    HEADERS = ({'User-Agent':
            'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5'})
    r = requests.get(url , headers = HEADERS)
    soup = BeautifulSoup(r.content, 'html.parser')
    return soup

In [161]:
def getnextpage(soup):
    page = soup.find('ul' , class_='a-pagination')
    if not page.find('li' , class_='a-disabled a-last'):
        url = 'http://www.amazon.co.in'+str(page.find('li',class_='a-last').find('a')['href'])
        return url
    else:
        return    

while True:
    all_urls.append(url)
    soup = getdata(url)
    url = getnextpage(soup)
    if not url:
        break

all_urls

['https://www.amazon.in/s?k=mobiles&rh=p_36%3A-2000000&qid=1622545203&rnid=1318502031&ref=sr_pg_1',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=2&qid=1622577158&rnid=1318502031&ref=sr_pg_1',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=3&qid=1622577160&rnid=1318502031&ref=sr_pg_2',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=4&qid=1622577162&rnid=1318502031&ref=sr_pg_3',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=5&qid=1622577164&rnid=1318502031&ref=sr_pg_4',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=6&qid=1622577165&rnid=1318502031&ref=sr_pg_5',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=7&qid=1622577167&rnid=1318502031&ref=sr_pg_6',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=8&qid=1622577169&rnid=1318502031&ref=sr_pg_7',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=9&qid=1622577170&rnid=1318502031&ref=sr_pg_8',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=10&qid=1622577172&rnid=1318502031&ref=sr_pg_9',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=11&qid=1622577174&rnid=1318502031&ref=sr_pg_10',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=12&qid=1622577175&rnid=1318502031&ref=sr_pg_11',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=13&qid=1622577177&rnid=1318502031&ref=sr_pg_12',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=14&qid=1622577179&rnid=1318502031&ref=sr_pg_13',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=15&qid=1622577180&rnid=1318502031&ref=sr_pg_14',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=16&qid=1622577182&rnid=1318502031&ref=sr_pg_15',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=17&qid=1622577184&rnid=1318502031&ref=sr_pg_16',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=18&qid=1622577186&rnid=1318502031&ref=sr_pg_17',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=19&qid=1622577188&rnid=1318502031&ref=sr_pg_18',
 'http://www.amazon.co.in/s?k=mobiles&rh=p_36%3A-2000000&page=20&qid=1622577190&rnid=1318502031&ref=sr_pg_19']

In [165]:
mobile_names_list = []
mobile_prices_list = []
mobile_ratings_list = []
mobile_image_url_list = []
for url in all_urls:

        
    bs_mobile = getdata(url)
    
    for d in bs_mobile.find_all('div',class_='s-result-item s-asin sg-col-0-of-12 sg-col-16-of-20 sg-col sg-col-12-of-16'):
        
        name = d.find('span', class_='a-size-medium a-color-base a-text-normal')
        price  = d.find('span',class_='a-price-whole')
        rating = d.find('span',class_='a-icon-alt')
        image_url = d.find('div', class_='a-section aok-relative s-image-fixed-height')
        
        if name is not None:
            mobile_names_list.append(name.text)
            
        else:
            mobile_names_list.append("unknown-product")
        
        if price is not None:
            mobile_prices_list.append(price.text)
            
        else:
            mobile_prices_list.append("0")
        
        if rating is not None:
            mobile_ratings_list.append(rating.text)
        
        else:
            mobile_ratings_list.append("-1")
        
        if image_url is not None:
            mobile_image_url_list.append(image_url.find('img',class_='s-image')['src'])
        
        else:
            mobile_image_url_list.append("Image URL not available")

In [166]:
import pandas as pd
mobile_list = pd.DataFrame({})
mobile_list['Name']=mobile_names_list
mobile_list['Price']=mobile_prices_list
mobile_list['rating']=mobile_ratings_list
mobile_list['image_url']=mobile_image_url_list


mobile_list = mobile_list.drop(mobile_list[mobile_list['Price']=='0'].index)

mobile_list = mobile_list.drop(mobile_list[mobile_list['rating']=='-1'].index)

print("List of mobiles under Rs.20000\n")
mobile_list

List of mobiles under Rs.20000

,Name,Price,rating,image_url
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71sxlhYhKW...
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","8,799",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71A9Vo1Bat...
2,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","11,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61IhTtJUXJ...
3,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","14,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
4,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...","10,999",4.0 out of 5 stars,https://m.media-amazon.com/images/I/71yYaNztZ0...
...,...,...,...,...
293,Blackview India Gadgets - BV5500 Plus Mobile P...,"15,500",2.2 out of 5 stars,https://m.media-amazon.com/images/I/61RBdRuk8o...
294,"I KALL K280 Smartphone (6.26 Inch, 32GB, Grey)","6,479",3.0 out of 5 stars,https://m.media-amazon.com/images/I/41vAPen0-w...
295,Xifo Gionee M7 4G Volte Smartphone with Finger...,"8,990",3.0 out of 5 stars,https://m.media-amazon.com/images/I/71DTjHXGFh...
296,Vivo Y12s Phantom Black (3GB + 32GB) + vivo Co...,"10,489",4.2 out of 5 stars,https://m.media-amazon.com/images/I/81f1TweKSs...
302,"Lava BeU Rose Pink, 2GB RAM, 32GB Storage + La...","6,623",3.7 out of 5 stars,https://m.media-amazon.com/images/I/814F2YHzeh...

# 7 day extended forecast display of San-Fransisco from weather.gov

In [167]:
weather_url = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YLZoTfkzZPY')


weather_url

In [168]:
weather_forecast = BeautifulSoup(weather_url.content,'html.parser')

In [169]:
period = []
temperature = []
short_description = []
description = []

for d in weather_forecast.find_all('li',class_='forecast-tombstone'):
    day = d.find('p', class_='period-name')
    temp  = d.find('p',class_=['temp temp-high','temp temp-low'])
    short_desc = d.find('p',class_='short-desc')
    
    period.append(day.text)
    temperature.append(temp.text)
    short_description.append(short_desc.text)

for d in weather_forecast.find_all('div',class_='col-sm-10 forecast-text'):
    description.append(d.text)

full_description = description[:len(period)]

In [170]:
Extended_Forecast = pd.DataFrame({})
Extended_Forecast['Period'] = period
Extended_Forecast['Temperature'] = temperature
Extended_Forecast['short_description'] = short_description
Extended_Forecast['full_description'] = description[:len(period)]

print("\nExtended 7 day Forecast for San Francisco\n")
Extended_Forecast

Extended 7 day Forecast for San Francisco

,Period,Temperature,short_description,full_description
0,ThisAfternoon,High: 65 °F⇓,Sunny andBreezy,"Sunny, with a temperature falling to around 62..."
1,Tonight,Low: 52 °F,Partly Cloudyand Breezythen MostlyCloudy,"Increasing clouds, with a low around 52. Breez..."
2,Wednesday,High: 64 °F,Partly Sunnythen Sunnyand Breezy,"Mostly cloudy, then gradually becoming sunny, ..."
3,WednesdayNight,Low: 53 °F,Partly Cloudyand Breezythen PartlyCloudy,"Partly cloudy, with a low around 53. Breezy, w..."
4,Thursday,High: 66 °F,Mostly Sunnythen Sunnyand Breezy,"Mostly sunny, with a high near 66. Breezy, wit..."
5,ThursdayNight,Low: 54 °F,Mostly Clearand Breezythen PartlyCloudy,"Mostly clear, with a low around 54. Breezy."
6,Friday,High: 66 °F,Mostly Sunny,"Mostly sunny, with a high near 66."
7,FridayNight,Low: 52 °F,Mostly Clear,"Mostly clear, with a low around 52."
8,Saturday,High: 68 °F,Sunny,"Sunny, with a high near 68."

# Fresher Job listings from internshaala.com

In [171]:
all_url = ['https://internshala.com/fresher-jobs','https://internshala.com/fresher-jobs/page-2','https://internshala.com/fresher-jobs/page-3']

job_title = []
company_name = []
CTC =[]
Apply_by = []
for url in all_url:
    bs_jobs = BeautifulSoup(requests.get(url).content,'html.parser')\
    
    for d in bs_jobs.find_all('div',class_='heading_4_5 profile'):
        job_title.append(d.get_text('a').replace('\na',''))
        
    for d in bs_jobs.find_all('a',class_='link_display_like_text'):
        company_name.append(d.get_text('a').replace('\n',''))

    for d in bs_jobs.find_all('div',class_='container-fluid individual_internship visibilityTrackerItem'):
        x = d.find_all('div',class_='item_body')[1]
        CTC.append(x.get_text().replace('\n','').strip())
        
    for d in bs_jobs.find_all('div',class_='container-fluid individual_internship visibilityTrackerItem'):      
        x = d.find_all('div',class_='item_body')[2]
        Apply_by.append(x.get_text())

In [172]:
Freshers_job = pd.DataFrame({})
Freshers_job['Job_Titles'] = job_title
Freshers_job['Company_Name'] = company_name
Freshers_job['CTC'] = CTC
Freshers_job['Apply_by'] = Apply_by

print('\n Freshers Job Listing in internshala \n')
Freshers_job

 Freshers Job Listing in internshala

,Job_Titles,Company_Name,CTC,Apply_by
0,Full Stack Developera,Wondermail ...,4 - 7 LPA,1 Jul' 21
1,Full Stack Developer (MERN)a,Project Tinker ...,4 - 7.2 LPA,1 Jul' 21
2,Business Development Executivea,Kaizen Academy ...,4.5 - 6 LPA,1 Jul' 21
3,Sales Development Representativea,Amigobulls ...,5.5 - 6.5 LPA,1 Jul' 21
4,Graphic Designera,Underground Movement L...,3 - 5 LPA,1 Jul' 21
...,...,...,...,...
94,International Business Development & Service (...,HOSS - House Of Soft S...,4.1 - 7.2 LPA,3 Jun' 21
95,Data Scientista,Internshala ...,6.6 - 8.8 LPA,3 Jun' 21
96,Associate Front End Developer - Shopifya,Seventh Triangle Consu...,3.2 - 3.6 LPA,2 Jun' 21
97,Software Development Engineer (Android)a,Internshala ...,6.6 - 8.28 LPA,19 Jun' 21
98,International Business Development Associatea,HOSS - House Of Soft S...,4 - 7 LPA,3 Jun' 21